[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
arrow = "*"
click = "*"

[dev-packages]
mypy = "*"
google-api-python-client-stubs = "*"
black = "*"
pdbpp = "*"
pyinstaller = "*"
pytest = "*"
mock = "*"
types-pyyaml = "*"
types-mock = "*"
flake8 = "*"
pytest-cov = "*"
types-python-dateutil = "*"
freezegun = "*"
pytest-asyncio = "*"
types-freezegun = "*"

[requires]
python_version = "3.10"
